@import url("https://fonts.googleapis.com/css2?family=Grandstander:wght@300;400;500;700&family=Kiwi+Maru:wght@300;400;500&display=swap");
@import url("https://use.fontawesome.com/releases/v5.15.3/css/brands.css");
@import url("https://use.fontawesome.com/releases/v5.15.3/css/fontawesome.css");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.japanese {
  font-family: 'Kiwi Maru', serif !important;
}
